
.container a{
  color: rgb(248, 0, 232);
}

.title{
  color: #fff;
}

.container{
  height: 100vh;
  background-image: url('/images/rickMorty.png');
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}